*{
	margin: 0;
	padding: 0;
}
ul,ol {
	list-style: none;
}
a {
	text-decoration: none;
	font-family: 微软雅黑;
}
div.backclr {
	width: 100%;
	height: 58px;
	background-color: #191D3A;
}
.header {
	width: 978px;
	height: 58px;
	background-color: #191D3A;
	margin: 0 auto;
	line-height: 58px;
	text-align: center;
}
div .logo {
	float: left;
	margin-right: 48px;
	height: 58px;
	overflow: hidden;
}
div .nav {
	float: left;
}
div .nav ul li {
	float: left;
	width: 85px;
	border-left: 1px solid #252947;
}
div .nav ul li a {
	display: block;
	width: 85px;
	height: 58px;
	font-size: 14px;
	color: #818496;
}
div .nav ul li a:hover {
	color: #E2E4ED;
	background-color: #252947;
}
div .nav ul li.jion {
	width: 76px;
	height: 46px;
	padding-top: 12px;
	padding-left: 9px;
}

div .nav ul li.jion a {
	width: 98px;
	height: 32px;
	background-color: #38B774;
	border: 1px solid #3ACA7A;
	line-height: 32px;
	text-align: center;
	color: #E2E4ED;
	border-radius: 3px;
}
div .nav ul li.jion a:hover {
	color: #fff;
	background-color: #2ba364;
}
.left {
	width: 100%px;
}


/*banner*/

div.banner {
	width: 100%;
	height: 460px;
	background: url(../img/banner.jpg) center top no-repeat;
	background-color: #191D3A;
	margin-bottom: 50px;
}

div.banner .banner1 {
	width: 980px;
	height: 460px;
	margin: 0 auto;
	position: relative;
}

div.banner .btn {
	width: 93px;
	height: 12px;
	position: absolute;
	bottom: 20px;
	right: 50%;
	margin-right: -6px;
}
div.banner .btn li {
	width: 12px;
	height: 12px;
	float: left;
	margin-right: 11px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, .6);
}
div.banner .btn li.nmag {
	margin-right: 0;
}

div.banner .btn li a {
	display: block;
	width: 12px;
	height: 12px;
}
div.banner .btn li a:hover {
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
}

/*content*/
.content{
	padding-top: 50px;
	height: 650px;
	
}
.content .inner_c{
	width: 1000px;
	margin: 0 auto;
}
.content .pro ul{
	list-style: none;
}
.content .pro ul li{
    float: left;
	margin-right: 43px;
	width: 218px;
	line-height: 24px;
	text-align: center;
}
.content .pro ul li img{
	width: 218px;
	height: 130px;
}
.content .pro ul li.last{
	margin: 0;
	width: 217px;
}
.content .pro ul li h3{
	margin-top: 9px;
	font-size: 18px;
}
.content .pro ul li span{
	font-size: 14px;
	text-decoration: none;
	color: green;
}
.content .pro ul li .sanjiao{
	width: 6px;
	height: 9px;
}
.content .pro ul li a .sjx{		
	width: 0;
	height: 0;
	display: inline-block;
	overflow: hidden;
	border: 5px solid transparent;
	border-left-color: rgb(0,255,0);		
	margin-left: 8px;
}
.content .fg{
	display: inline-block;
	width: 1000px;
	height: 48px;
	position: relative;
}
.content .fgx{
	width: 1000px;
	height: 1px;
	background-color: gray;
	position: absolute;
	top: 49px;
	left: 50%;
	margin-left: -500px;
	z-index: 10;
}
.content .fg ul{
	list-style: none;
	width: 96px;
	height: 10px;
	padding-left: 17px;
	background-color: white;
	position: absolute;
	top: 44px;
	left: 50%;
	margin-left: -48px;
	z-index: 10;
}
.content .fg ul li{
	float: left;
}
.content .fg ul li .p2{
	width: 10px;
	height: 10px;
	background-color: #B5C0CB
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-right: 14px;
}
.content .fg ul li p.first{
	background-color: #2FBC71;
}
.content .fg ul li p.two{
	background-color:#D3D3D3;
}
/*info*/
.content .info{
	padding-top: 49px;
	width: 1000px;
	margin: 0 auto;
}
.content .info .boyanews{
	float: left;
	width: 500px;
	height: 314px;
	background: url(../img/bynewsbg.jpg) no-repeat center;
	position: relative;
}
.content .info .boyanews .newsmore{
	width: 66px;
	height: 28px;
	background: url(../img/more2.png) no-repeat;
	position: absolute;
	top: 40px;
	left: 218px;
}
.content .info .boyanews ul{
	padding-top: 109px;
	list-style: none;
	padding-left: 20px;
}
.content .info .boyanews ul li{
	line-height: 50px;
	vertical-align: center;
	border-bottom: 1px solid gray;
}
.content .info .boyanews ul li span{
	font-size: 12px;
	color: gray;
}
.content .info .boyanews ul li p{
	display: inline-block;
	padding-left: 22px;
	font-size: 16px;
	color: #444895;
}

.content .info .boyajobs{
	float: left;
	width: 500px;
	height: 322px;
	background: url(../img/byhrbg3.jpg) no-repeat center;
    position: relative;
		}
.content .info .boyajobs .jobsmore{
	width: 66px;
	height: 28px;
	background: url(../img/more1.png);
	position: absolute;
	left: 218px;
	top: 40px;
	text-indent: -99999px;
}
.content .info .boyajobs .zyzp{
	padding-top: 44px;
	padding-left: 80px;
}
.content .info .boyajobs .zyzp h3{
	width: 112px;
	height: 44px;
	background: url(../img/zczp.png) no-repeat;
}
.content .info .boyajobs .jobs{
	padding-left: 20px;
	color: #FFFFF0;
}
.content .info .boyajobs .jobs h4{
	font-size: 14px;
	padding-top: 24px;
	line-height: 18px;
}
.content .info .boyajobs .jobs ul{
	padding-right: 174px;
	list-style: none;
}
.content .info .boyajobs .jobs ul li{
	font-size: 14px;
	line-height: 37px;
    vertical-align: center;
    border-bottom: 1px solid gray;
}
/*footer*/
.inner_c{
    width: 1000px;
	margin: 0 auto;
}
.footer{
	height: 91px;
	line-height: 91px;
	background-color: #191D3A;
	color:#6c6e7e;
}
.footer .inner_c{
	position: relative;
}
.footer .links{
	float: left;
	font-size: 12px;
}
.footer a{
	padding: 0 5px;
	color:#6c6e7e;
	text-decoration: none;
}
.footer .copyright{
	float: right;
	font-size: 12px;
	padding-right: 70px;
}
.footer .govicon{
	width: 40px;
	position: absolute;
	right: 10px;
	top: 10px;
}	

